body {
  height: 100vh;
  
  background-color: rgb(255, 212, 237);
}

#holder{
  position: absolute;
  width: 100%;
  
  
}
.svg2{
  margin-top: 0px;
  position: absolute;
  z-index: 2;
}
h1{
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 250px;
  z-index: 0;
}
h2{
  color:rgb(255, 255, 255);
  margin-top: -150px;
  text-align: center;
  font-size: 50px;
  z-index: 0;
}
p{
  height: 2000px;
  width: 100%;
  margin-top: 35%;
  background-color: #a841f1;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .svg2{
    margin-top: 45px;
  }
  .h1{
    font-size: 70px;
    margin-top: 70px;
  }
  h2{
    margin-top: -60px;
    font-size: 25px;
  }
  p{
    margin-top: 40%;
  }
}