body {
  height: 100vh;
  
  background-color: rgb(255, 212, 237);
}

#holder{
  position: absolute;
  width: 100%;
  
  
}
.svg2{
  margin-top: 110px;
  position: absolute;
  z-index: 2;
}
h1{
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 250px;
  z-index: 1;
}
p{
  height: 2000px;
  width: 100%;
  margin-top: 50%;
  background-color: #a841f1;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .h1{
    font-size: 70px;
    margin-top: 25px;
  }
  p{
    margin-top: 65%;
  }
}